html, body, main {
  height: 100%;
  background: linear-gradient(to right, #7fbfd6 0%,#f9c77f 50%,#e4a497 100%);
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: red;
}