form {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  >.form-group {
    width: 100%;
    position: relative;
    top: 40%;
    > input {
      width: 97%;
      border:none;
      padding: 15px;
      font-size: 24px;
    }
  }
  &.showing {
    height: 30%;
    >div {
      top: 30%;
    }
  }
}
.image-container {
  width: 50%;
  margin: 0 auto;
  background: black;
  li {
    display: inline-block;
    img {
      height: 150px;
    }
  }
}
.btn-clear {
  position: absolute;
  top:50%;
  margin-left: 50%;
}