<form (ngSubmit)="search()" autocomplete="off" [ngClass]="{showing: images.length > 0}">

    <div class="form-group">
        <input placeholder="Search your triphy"
               (input)="tags = $event.target.value"
               autofocus>
        <!--<button class="btnn btn-clear" (click)="clear($event)">clear</button>-->
    </div>
</form>
<div class="image-container">
    <ul>
        <li class="image"
            *ngFor="let image of images"
        >
            <img src="{{ image.url }}"
                 width="{{ image.width }}"
                 height="{{ image.height }}"
                 [imageUrl]="image.url"
                 [startDance]="image.staticUrl"
            />
        </li>
    </ul>
</div>
