<div class="card-container">
  <h1 x-large class="sample-content">Search your triphy</h1>

  <div>
    For material design components use the <a href="https://github.com/AngularClass/angular2-webpack-starter/tree/material2">
    <b>material2</b></a> branch
  </div>


    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input placeholder="Submit Local State to App State" [value]="localState.value" (input)="localState.value = $event.target.value"
        autofocus>

      <button md-raised-button color="primary">Submit Value</button>
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>

</div>
